@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
template {
  font-family: "Playfair Display", serif;
  font-family: "Roboto", serif;
}

@font-face {
  font-family: "Felidae"; /* The name of the font */
  src: url("../assets/fonts/Felidae.ttf") format("truetype"); /* The path to your font file */
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.header {
  background: url(../assets/images/header-img.png);
  background-size: cover;
  background-position: center;
}

.nav_wrapper {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu p {
  color: rgb(255, 255, 255);
  font-family: "Roboto", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.nav_menu p:hover,
.nav_rigt p:hover {
  text-decoration: underline;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 27px;
}
.nav_rigt p {
  color: rgb(234, 200, 107);
  font-family: "Roboto", serif;

  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

section {
  padding-bottom: 150px;
}
nav {
  margin-bottom: 100px;
}

.section_container h1 {
  color: rgb(234, 200, 107);
  font-family: Felidae;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
}

.section_container h1 span {
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 1px;
}

.main_block_desc {
  box-sizing: border-box;
  border: 1px solid rgb(46, 67, 145);
  border-radius: 150px;

  background: linear-gradient(
    90deg,
    rgba(14, 14, 40, 0.5),
    rgba(48, 84, 173, 0.5) 100%
  );
  padding: 18px 42px;
  margin: 15px 0;
}

.main_block_desc p {
  color: rgb(255, 255, 255);
  font-family: Felidae;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.section_container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main_block_desc_items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.main_block_desc_sec {
  box-sizing: border-box;
  border: 1px solid rgb(46, 67, 145);
  border-radius: 150px;

  background: linear-gradient(
    90deg,
    rgba(14, 14, 40, 0.5),
    rgba(48, 84, 173, 0.5) 100%
  );
  padding: 19px 30px;
}

.main_block_desc_sec p {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 250;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.main_block_desc_btm {
  padding: 24px 70px;
  margin-top: 80px;
  background: transparent;
  transition: all 0.4s ease;
}
.bg_block_btn {
  transition: all 0.4s ease;
}
.main_block_desc_btm:hover,
.bg_block_btn:hover {
  transition: all 0.4s ease;
  background: rgba(48, 84, 173, 0.5);
}

.main_block_desc_btm p {
  color: rgb(234, 200, 107);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.blocks_list {
  padding-top: 140px;
}

.main_card_item {
  box-sizing: border-box;
  border: 0.5px solid rgb(230, 230, 230);
  border-radius: 29px;

  backdrop-filter: blur(50px);
  background: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.main_card_item_desc img {
  margin-bottom: 13px;
}
.main_card_item_desc p {
  max-width: 380px;
  margin-bottom: 15px;
  color: rgb(23, 23, 23);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.main_card_item_desc span {
  font-weight: 500;
}
.main_card_item_sb {
  justify-content: space-between;
  padding-left: 80px;
}

.bg_block {
  padding-top: 170px;
}

.bg_block_btn {
  box-sizing: border-box;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 200px;
  padding: 24px 70px;
  margin-top: 50px;
}
.bg_block_btn p {
  color: rgb(234, 200, 107);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.bg_block_desc {
  margin-top: 20px;
  max-width: 463px;
}
.bg_block_desc p {
  font-family: Roboto;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.774);
  line-height: 140%;
  font-weight: 300;
}

.bg_block_desc div span {
  color: rgb(234, 200, 107);
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
}
.bg_block_desc div {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  margin-top: 5px;
}

.block_title h2 {
  color: rgb(51, 63, 72);
  font-family: Felidae;
  font-size: 96px;
  font-weight: 400;
  line-height: 97.5%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.video {
  background: rgb(240, 240, 240);
  height: 640px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_play {
  width: 102.83px;
  height: 102.83px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  opacity: 0.88;
}

.why_bali {
  background: url(../assets/images/img-2.png);
  background-size: cover;
}

.why_bali_desc {
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 57px;
}
.why_bali_desc p {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 250;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.why_bali_option p {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 250;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 5px;
}

.why_bali_options {
  max-width: 600px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 50px 70px;
}

.strategy_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 67px;
}
.strategy_card {
  width: 100%;
}
.strategy_card_top {
  border-radius: 13px;
  height: 381px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(0, 25, 149),
    rgb(10, 23, 86) 100%
  );
  padding: 48px 36px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 14px;
}

.strategy_card_top p {
  color: rgb(217, 217, 217);
  font-family: Felidae;
  font-size: 48px;
  font-weight: 400;
  line-height: 83%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.strategy_card_top span {
  color: rgb(217, 217, 217);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.strategy_card_btm {
  border-radius: 13px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 51.5%,
    rgb(222, 222, 222) 100%
  );
  padding: 30px 36px;
  height: 151px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.strategy_card_btm p {
  color: rgb(23, 23, 23);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(23, 23, 23);
}
.strategy_card_btm span {
  font-weight: 500;
}

.strategy_card_btmc {
  justify-content: center;
}
.why_bali_desc span {
  color: rgb(234, 200, 107);
}

.copyrtight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.copyrtight p {
  color: rgba(255, 255, 255, 0.625);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}
.footer {
  padding-bottom: 70px;
  padding-top: 190px;
}

.cards_carousel {
  margin-top: 190px;
}

.cards_carousel_container {
  overflow: hidden;
}

.block_titles h2 {
  background: linear-gradient(180deg, rgb(16, 20, 44), rgb(4, 36, 191));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Felidae;
  font-size: 96px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.car_arrows {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
}
.car_arrow {
  cursor: pointer;
}

.car_arrow img {
  width: 30px;
}
.carousel_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}
.header_top {
  padding-top: 0 !important;
}
.mob_menu_btn {
  display: none;
  align-items: center;
  justify-content: center;
}
.mob_menu_btn img {
  width: 40px;
  cursor: pointer;
}
.mob_menu_exit img {
  width: 27px;
}

.mob_menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 111;
  background: #09052e;
  padding: 30px;
  transition: all 0.5s ease;
  transform: translateX(100%);
}
.visible_mob_menu {
  transition: all 0.5s ease;
  transform: translateX(0);
}
.mob_menu .nav_menu {
  flex-direction: column;
  padding-top: 40px;
  margin-bottom: 40px;
}
.mob_menu_exit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer {
  background: url(../assets/images/img-1.png);
  background-size: cover;
}
.header_top {
  background: url(../assets/images/img-3.png);
  background-size: cover;
}
.youtube_video iframe {
  width: 100%;
  border-radius: 30px;
}
.nav_rigt p, .main_block_desc_btm, .bg_block_btn {
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: #0000006f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  transform: translateY(-100%);
  z-index: 110;
}

.visivble_overlay {
  transition: all 0.4s ease;
  transform: translateY(0);
}
.modal {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  background: #fff;
}
.modal_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid #80808057;
}
.modal_title p {
  color: #000000c4;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}
.modal_title img {
  cursor: pointer;
}
.modal_content {
  padding: 20px;
}
.modal_input p {
  color: #000000c4;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}
.modal_input span {
  color: red;
}
.modal_input input {
  width: 100%;
  height: 35px;
  border: 1px solid #80808057;
  border-radius: 5px;
  outline: none;
  text-indent: 12px;
  color: #000000c4;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.modal_input {
  margin-bottom: 15px;
}
.send_btn {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: rgb(241, 50, 50);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
.contact_options {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.contact_options input {
  width: 20px;
  height: 20px;
  border: 1px solid #80808057;
  cursor: pointer;
}
.contact_options p {
  margin: 0;
}
.contact_options label {
  cursor: pointer;
  color: #000000c4;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (max-width: 1100px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .youtube_video iframe {
    width: 100%;
    border-radius: 30px;
    height: 300px;
  }
  .mob_menu_btn {
    display: flex;
  }
  .nav_wrapper .nav_menu,
  .nav_wrapper .nav_rigt {
    display: none;
  }

  .main_card_item_desc {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .video {
    height: 400px;
  }

  .bg_block,
  .blocks_list,
  section {
    padding-top: 50px;
  }
  section {
    padding-bottom: 50px;
  }
  .strategy_cards {
    display: flex;
    flex-direction: column;
  }
  .strategy_card_top {
    height: auto;
    gap: 30px;
  }
  .main_card_item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 20px;
  }
  .main_card_item_img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    /* filter: brightness(0.7); */
  }
  .main_card_item_desc {
    position: relative;
    z-index: 11;

    background: rgba(240, 240, 240, 0.877);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_card_item_desc p {
    text-align: center;
  }

  .main_card_item_desc p {
    color: rgb(23, 23, 23);
  }
}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 0 20px;
  }
  .youtube_video iframe {
    width: 100%;
    border-radius: 10px;
    height: 200px;
  }
  .why_bali_options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 0;
  }
  .why_bali_option img {
    max-width: 130px;
  }
  nav {
    margin-bottom: 60px;
  }

  .section_container h1 {
    font-size: 50px;
    text-align: center;
  }
  .main_block_desc p {
    font-size: 28px;
    text-align: center;
  }
  .main_block_desc_sec {
    width: 100%;
  }
  .main_block_desc {
    width: 100%;
  }
  .header .section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_block_desc_btm {
    margin-top: 40px;
    padding: 20px 30px;
  }
  .main_block_desc_btm p {
    font-size: 22px;
  }
  .bg_block {
    padding-top: 50px !important;
  }
  .bg_block_desc p {
    font-size: 16px;
  }
  .bg_block_desc div span {
    font-size: 40px;
  }
  .bg_block_btn p {
    font-size: 20px;
    text-align: center;
  }
  .bg_block_btn {
    padding: 20px 30px;
    width: 100%;
    background: rgba(13, 13, 71, 0.441);
  }
  .block_titles h2 {
    font-size: 40px;
  }
  .video {
    height: 300px;
  }
  .video_play {
    width: 50px;
    height: 50px;
    padding-left: 7px;
  }
  .cards_carousel {
    margin-top: 40px;
  }
  .main_card_item_desc {
    width: 100%;
  }
  .main_card_item .main_card_item_desc img {
    width: 40%;
  }
  .cards_carousel_item .main_card_item_desc img {
    width: 70%;
  }

  .cards_carousel_item .main_card_item {
    height: 360px;
  }
  .why_bali_desc p {
    font-size: 20px;
  }
  .why_bali_option p {
    font-size: 20px;
  }
  .block_title h2 {
    font-size: 40px;
  }
  .strategy_cards {
    margin-top: 0;
  }
  .strategy_card_top {
    padding: 20px;
  }
  .strategy_card_top p {
    font-size: 30px;
  }
  .strategy_card_top span {
    font-size: 16px;
  }
  .strategy_card_btm {
    height: auto;
    padding: 20px;
  }
}
